parameters:
    level: 8
    paths:
        - bin/
        - config/
        - public/
        - src/
        - templates/
        - tests/
    tmpDir: var/cache/phpstan
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neonc