/* :root {
    --primary-color: #6B8E4E;
    --secondary-color: #E8DCCB;
    --accent-color: #E2A85A;    
  } */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    background-color: var(--secondary-color);
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
} */
